.projects-grid-container {
  padding-top: 1.25rem;
  padding-bottom: 2.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 1.25rem;
}
